.navbar-wrapper{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
    background: rgb(28,28,28);
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(34,111,76,1) 35%, rgba(28,28,28,1) 100%);
}

.searchBar{
    flex-grow: 1;
    background-color: rgba(255,255,255,0.3);
    border-radius: 100px;
    display: flex;
    padding: 0 4px;
}

input{
    background: none;
    border: none;
    width: 90%;
    outline: none;
}