.App {
  background-color: #1C1C1C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.content {
  padding: 0 100px;
}

h3{
  padding: 0;
  margin: 0;
  font-size: 20px;
}

h5, h4{
  margin: 0;
  padding: 0;
}

.bold-header{
  font-weight: 900;
  font-size: 24px;
}

p {
  font-size: 14px;
}

.secondary-text {
  font-size: 12px;
  padding: 0;
  margin: 6px 0;
  font-weight: 600;
  color: #8D8D8D;
}

input::placeholder{
  color: #9BB6A9;
}

.icon{
  width: 18px;
  height: auto;
  margin: 2px;
  fill: #9BB6A9;
}

.grid{
  margin-top: 10px;
  display: grid;
  grid-template-rows: [start] 250px;
  grid-auto-rows: 170px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px 10px;
}

.grid-item:nth-child(-n+3){
  grid-column: span 4;
}

.grid-item{
  grid-column: span 3;
}